@charset "utf-8";

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
    url('../font/opensans-300.woff2') format('woff2');
}


@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
    url('../font/roboto_300_greek.woff2') format('woff2');
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
    url('../font/roboto_300_cyrilic.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url('../font/roboto_400_latin_ext.woff2') format('woff2');
}

@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
    url('../font/heebo_300_latin.woff2') format('woff2');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url('../font/heebo_400_latin.woff2') format('woff2');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 500;
  src: local('※'),
    url('../font/heebo_500_latin.woff2') format('woff2');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url('../font/heebo_400_latin.woff2') format('woff2');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
    url('../font/heebo_700_latin.woff2') format('woff2');
}
